@import "./fonts.css";
@import "./TaskList.css";
@import "./Task.css";

:root {
  --text-secondary: rgba(0, 0, 0, 0.65);
  --sunset-gradient: linear-gradient(180deg, #FFCEA9 0%, #FFAC98 100%);
}

html {
  background: #F9FAFC, 100%;
  height: 100%;
  width: 100%;
}

article {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.user-list {
  position: absolute;
  height: 30%;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}

.user-list button {
  margin: 10px 0;
}

.enter-user form > element {
  margin: 10px 0;
}


.header {
  height: 100px;
  background: var(--sunset-gradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 20px;
}

.aalto-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aalto-logo .essentials {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 142%;
  color: #FFFFFF;
}

.header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.header .navigation span {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.311111px;
  color: #FFFFFF;
}

.header .navigation span:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

.welcome-view {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FFF6EF;
}

.welcome-view .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}