.take-a-break {
  display: flex;
  flex-direction: row;
}

.practice-card {
  height: 439px;
  width: 304px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}