.task-view {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FFF6EF;
}

.task-view .container {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}

.timer {
  align-self: center;
  text-align-last: center;
}

.timer-button {
  margin-top: 10px;;
  height: 220px;
  width: 220px;
  left: 610px;
  top: 375px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  box-sizing: border-box;
  background: var(--sunset-gradient);
}

.timer-button:hover {
  cursor: pointer;
}

.timer-button h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.9);
}

