.task-view {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FFF6EF;
}

.task-view .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}